= simple_form_for @post, html: { multipart: true} do |f|
  - if @post.errors.any? 
    #errors
      %h2
      = pluralize(@post.errors.count, "error")
      prevented this Post from saving
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg


  .form-group{style:'text-align:center;'}
    =f.hidden_field :post, { :value => @post}
    =f.input :image, input_html: {class:"form-control"}
    %h4
      turn-around time 
      %br

      = f.collection_radio_buttons :category_id, Category.all, :id, :name, {:item_wrapper_class => "choosetime"}


    = f.button :submit, value: "do my homework",  class:"btn btn-success"  

    %br
    %br
    %h4 Refer a friend
    =f.text_field :referemail, placeholder: "Enter a friend's email" 
